In [ ]:
import numpy as np 
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv('C:/Users/lenovo/foolad.csv')
df=df[['Close']]
df

      Close
0     19880
1     19130
2     19530
3     20550
4     21330
...     ...
2960   1898
2961   1934
2962   1973
2963   1938
2964   1900

[2965 rows x 1 columns]

In [4]:
forecast=5
df['Prediction']=df[['Close']].shift(-forecast)
df

      Close  Prediction
0     19880     20550.0
1     19130     19600.0
2     19530     18670.0
3     20550     17860.0
4     21330     17560.0
...     ...         ...
2960   1898         NaN
2961   1934         NaN
2962   1973         NaN
2963   1938         NaN
2964   1900         NaN

[2965 rows x 2 columns]

In [5]:
x= np.array(df.drop(['Prediction'],1))
x= x[:-forecast]
y= np.array(df['Prediction'])
y=y[:-forecast]

C:\Users\lenovo\AppData\Local\Temp/ipykernel_26400/3112883407.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x= np.array(df.drop(['Prediction'],1))

In [6]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)
mysvr=SVR(kernel='rbf',C=1000,gamma=0.1)
mysvr.fit(xtrain,ytrain)
svconf=mysvr.score(xtrain,ytrain)
print('svm confidence: ',svconf)

svm confidence:  0.3279463588806041

In [7]:
lr=LinearRegression()
lr.fit(xtrain,ytrain)
lrconf=lr.score(xtest,ytest)
print('LR confidence: ',lrconf)

LR confidence:  0.972270274006893

In [8]:
x_forecast=np.array(df.drop(['Prediction'],1))[-forecast:]
lrpred= lr.predict(x_forecast)
print('LR Method: ' ,lrpred)
print('-----------')
svmpred=mysvr.predict(x_forecast)
print('svm Method:' ,svmpred)

LR Method:  [1913.54024875 1948.67173992 1986.73085536 1952.57523894 1915.49199826]
-----------
svm Method: [1933.65467118 1924.09977783 2128.81228351 1949.10024822 1912.59361325]

C:\Users\lenovo\AppData\Local\Temp/ipykernel_26400/1369204150.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x_forecast=np.array(df.drop(['Prediction'],1))[-forecast:]